
@font-face {
  font-family: "BYekan"; 
  src: url(../fonts/BYekan_0.ttf) format('truetype'),
       url(../fonts/BYekan+_Bold.ttf) format('truetype'),
       url(../fonts/BYekan.ttf) format('truetype'),
}
@font-face {
  font-family: "IRANSans"; 
  src: url(../fonts/IRANSans.woff2) format('woff2'),
       url(../fonts/IRANSans.woff) format('woff'),
       url(../fonts/IRANSans.ttf) format('truetype');
}
@font-face {
  font-family: "Alef"; 
  src: url(../fonts/persians/Alef.ttf) format('truetype');
}
@font-face {
  font-family: "Diba"; 
  src: url(../fonts/persians/Diba.ttf) format('truetype');
}
@font-face {
  font-family: "Fedra"; 
  src: url(../fonts/persians/Fedra.ttf) format('truetype');
}
@font-face {
  font-family: "Lalezar"; 
  src: url(../fonts/persians/Lalezar.ttf) format('truetype');
}
@font-face {
  font-family: "Modam-Black"; 
  src: url(../fonts/persians/Modam-Black.ttf) format('truetype');
}
@font-face {
  font-family: "Modam-Regular"; 
  src: url(../fonts/persians/Modam-Regular.ttf) format('truetype');
}
@font-face {
  font-family: "Peyda-Black"; 
  src: url(../fonts/persians/Peyda-Black.ttf) format('truetype');
}
@font-face {
  font-family: "Peyda-Regular"; 
  src: url(../fonts/persians/Peyda-Regular.ttf) format('truetype');
}